<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view1</title>
    <link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <ul id="ul">
            {% for i in data %}
                <li><a href="{% url 'detail' i %}">{{ i }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
</body>
</html>